@import url('https://fonts.cdnfonts.com/css/the-moon');

body {
    background-color: #c5c0cd;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'The moon', sans-serif; 
    background-image: url(./img/pitr-bunny-icon.svg) ;
    background-repeat: no-repeat;
    background-size: 40vh;
    text-shadow: 0px 0px 2px white, 0px 0px 5px  darkslategray ;
}
body > img {
    background: transparent;
    justify-self: center;

}
body > h1{
    justify-self: flex-start;

}

#container{
    box-shadow: 0px 0px 5px 4px #bac9b2, 0px 0px 10px 4px black;
    padding: 1%;
    display:flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #96bfc2;
    height: 70%;
    width: 34%;
    text-align: center;
}
#container>div{
    transition: ease-in-out 1s;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
}
#container>div:first-child:hover{
    box-shadow: 0px 1px 3px 1px grey, 0px 5px 5px 5px white;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white;
}
#container>div:hover{
    box-shadow: 0px 3px 3px 1px grey, 0px 7px 5px 4px white;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white;

}
#btn{
    background-color: #dfeff0;
    box-shadow: 0px 0px 4px 2px grey;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    transition: ease-in-out 1s;

    
}
#btn:hover{
    cursor:pointer;
    box-shadow:0px 0px 4px 2px grey, 0px 0px 6px 5px white;
    
}

#upper{
    height: 33%;
    width: 100%;
background-color: #ecc3c0;
}

#middle{
    height: 33%;
    width: 100%;
background-color: #DBc2c0;
}

#lower{
    width: 100%;
    height: 33%;
background-color: #d6d1dd;
justify-content: space-between;
}
