@import url('https://fonts.cdnfonts.com/css/the-moon');

body {
    background-color: #c5c0cd;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'The moon', sans-serif; 
    background-repeat: no-repeat;
    background-size: 40vh;
    text-shadow: 0px 0px 2px white, 0px 0px 5px  darkslategray ;
}


body > h1{
    justify-self: flex-start;

}

#container{
    box-shadow: 0px 0px 5px 4px #bac9b2, 0px 0px 10px 4px black;
    padding: 1%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #96bfc2;
    height: 70%;
    width: 34%;
    text-align: center;
}
#container>div{
    transition: ease-in-out 0.75s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
}

#upper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 33%;
    width: 100%;
    background-color: #ecc3c0;
    z-index: 1;

}
#upper:hover{
    box-shadow: 0px -2px 3px 1px grey, 0px -4px 4px 3px white;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white;
    border-bottom: 0;
}
#celestial{
    display: flex;
    flex-direction: row;
    
}

#phasecontainer{
    background: transparent;
    position: absolute;
    
}
#middle{
    height: 33%;
    width: 100%;
background-color: #DBc2c0;
}
#middle:hover{
    box-shadow:0px 0px 3px 1px grey, 0px 0px 5px 5px white;
    
    text-shadow: 1px 1px 1px white, -1px -1px 1px white;
    overflow: hidden;
}

#lower{
    width: 100%;
    height: 33%;
background-color: #d6d1dd;
justify-content: space-between;
}

#lower:hover{
    box-shadow: 0px 2px 3px 1px grey, 0px 4px 4px 3px white;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white;
}
#btn{
    background-color: #dfeff0;
    box-shadow: 0px 0px 4px 2px grey;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    transition: ease-in-out 1s;

    
}
#btn:hover{
    cursor:pointer;
    box-shadow:0px 0px 4px 2px grey, 0px 0px 6px 5px white;
    
}



.sunout{
    background-color: rgb(255, 255, 174);
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border-style:ridge;
    border-color: rgb(250, 207, 128);
}
.waxc{
    
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-shadow: inset -20px -5px 15px 0 paleturquoise, inset 0px 0px 0px #ecc3c0, 8px 0px 5px white;
    background: (transparent);
}
.newm{
   
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px white ;
    background: rgb(61, 83, 83); 
}

.firstq{

   
    height: 75px;
    width: 75px;
    border-radius: 50%;
    
    background: linear-gradient(to left, paleturquoise, transparent 100%);
    box-shadow: 8px 0px 5px white, inset 19px 0px 0px #ecc3c0;
}
.waxg{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-shadow: 10px 0px 15px #ecc3c0 inset,  8px 0px 5px white;
    background: paleturquoise;
}
.fullm{
  
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: -5px -5px 15px white, 5px 5px 15px white ;
    background: paleturquoise;
}
.waneg{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-shadow: -10px 0px 15px #ecc3c0 inset, -8px 0px 5px white;
    background: paleturquoise;
}
.lastq{

    height: 75px;
    width: 75px;
    border-radius: 50%;
    
    background: linear-gradient(to right, paleturquoise, transparent 100%);
    box-shadow: -8px 0px 5px white, inset -19px 0px 0px #ecc3c0;
}
.wanec{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-shadow: inset 20px -5px 15px 0 paleturquoise, inset 0px 0px 0px #ecc3c0, -8px 0px 5px white;
    background: (transparent);
}

.invisible{
    display: none;
}